body {
    background-color: peachpuff;  
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(208, 215, 221);
    width: 100%;
    color: brown; 
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: large;
}
.profileCard_container {
    width: 50%;
    height:400px;
    display: inline-block;
}