body {
    background-color: peachpuff;  
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(208, 215, 221);
    width: 100%;
    color: brown; 
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: large;
}
.profileCard_container {
    width: 48%;
    display: inline-block;
    border: 1px solid darkviolet;
    margin-top: 100px;
    border-radius: 20px;
    padding-left:5px;
    padding-right:5px;
    margin-right:0.5%;
    margin-left:0.5%;
}
.profile_heading {
    border-bottom: 1px solid darkviolet;
    text-align: center;
    padding-bottom: 15px;
}
.profile_image {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width:30%;
}
.profile_desc {
    padding:5px 20px;
    text-align: justify;
}